 *{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 .notefile-note-container{
     display: flex;
     flex-direction: column;
     height: 170vh;
     width: 100%;
     padding-top: 11vh;
     padding-left: 2vw;
     padding-right: 2vw;
 }
 
 .notefile-note-complete-desc-image-container{
    display: flex;
    height: 80vh;
    width: 100%;
 }

 .notefile-note-complete-desc-container{
    display: flex;
    height: 70vh;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(47, 100, 180);
    padding: 1vh 1vw;
    flex: 2;
 }
.notefile-note-image-container{
    border: 1px solid rgb(50, 78, 205);
    flex: 2;
}
 .notefile-note-name-container,.notefile-note-seen-container,.notefile-note-desc-container,.notefile-note-url-container{
     display: flex;
     flex-direction: column;
     margin: 1vh 0;
 }

.notefile-note-name-logo,.notefile-note-seen-logo,.notefile-note-Desc-logo,.notefile-note-url-logo{
    font-size: 23px;
    font-weight: 500;
    color: darkblue;
}

.notefile-note-name,.notefile-note-seen,.notefile-note-desc,.notefile-note-url{
    padding-left: 3vw;
    font-weight: 400;
    font-size: 18px;
}
 .notefile-note-image-container .notefile-note-thumbnail-image{
    height: 70vh;
    width: 100%;
 }

 .notefile-note-pdf{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     margin-top: 2vh;
 }

 .notefile-note-pdf embed{
    width: 100%;
    height: 70vh;
}
.notefile-iframe{
    height: 100vh;
    width: 100%;
    border: 2px solid gray;
}
@media only screen and (max-width: 768px) {
    .notefile-note-container{
        height: 140vh;
    }
    .notefile-iframe{
        width: 100%;
        height: 72vh;

    }
    
    .notefile-note-complete-desc-image-container{
        display: flex;
        height: 51vh;
        width: 100%;
     }
    .notefile-note-image-container .notefile-note-thumbnail-image{
        height: 51vh;
        width: 100%;
     }
     .notefile-note-image-container{
        flex: 1;
    }
    .notefile-note-name-logo,.notefile-note-seen-logo,.notefile-note-Desc-logo{
        font-size: 18px;
    }
    .notefile-note-complete-desc-container{
        height: 51vh; 
     }
}