.sell-container{
    display: flex;
    width: 100%;
    height: 10vh;
    padding: 0 4vh;
}
.sell-img{
    flex: 1;
}
.sell-img img{
   width: 10vh;
   height: 10vh;
   border-radius: 50%;
   object-fit: cover;
   border: 1px solid grey;
   border-radius: 31px;
}
.sell-post{
    display: flex;
    flex: 10;
    border: 1px solid grey;
    border-radius: 31px;
    padding: 2.5vh 3vw;
}
.sell-post p{
    color: rgb(29, 51, 51);
}

@media only screen and (max-width: 768px) {
    .sell-img img{
       width: 6vh;
       height: 6vh;
     }
     .sell-container{
        height: 6vh;
        padding: 0 0;
    }
    .sell-post{
        padding: 1.2vh 3vw;
        flex: 4;
    }
}