* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.profile-container {
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 4vh;
}
.profile-top {
  display: flex;
}

.profile-top-img-container {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
}
.profile-top-img-container img {
  width: 20vh;
  height: 20vh;
  padding: 0.2vh;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid gray;
}
.username {
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
}
.profile-desc {
  display: flex;
  flex: 7;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  line-height: 3px;
}
.fullname {
  font-size: 20px;
  font-weight: 800;
  line-height: 17px;
}
.institution-container {
  display: flex;
  margin-top: 1vh;
}
.institution-container img {
  height: 15px;
  width: 15px;
}
.institution {
  font-size: 14px;
  line-height: 17px;
}
.desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
}
.user-resident {
  display: flex;
  line-height: 17px;
  margin-top: 1vh;
}
.user-resident img {
  height: 12px;
  width: 12px;
}
.residing-first {
  font-size: 12px;
  font-weight: 300;
}
.residing-second {
  font-size: 12px;
  font-weight: 300;
}

.followers-followings {
  display: flex;
  margin-top: 1vh;
}
.followers-followings p {
  line-height: 17px;
  font-size: 15px;
  margin-left: 1px;
  margin-right: 1px;
  font-weight: 400;
  color: rgb(54, 51, 51);
}
.follow-chat {
  display: flex;
  width: 35%;
}

.start-conversation-1 {
  display: flex;
  margin-left: 1vh;
  flex: 3;
  justify-content: center;
  /* padding-top: 1vh; */
  height: 7vh;
  border: none;
  border-radius: 5vh;
  box-shadow: 0px 0px 10px 7px rgb(233, 238, 233);
  background-color: rgb(115, 155, 247);
}
.button-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-conversation-1 p {
  font-size: 16px;
  color: white;
  margin: 0;
  margin-right: 3px;
}
.start-conversation-1 img {
  width: 20px;
  height: 20px;
}
.start-conversation-1:hover {
  cursor: pointer;
  background-color: rgb(82, 124, 224);
}

.follow {
  box-shadow: 0px 1px 3px rgb(108, 172, 241);
  color: white;
  box-shadow: 0px 0px 7px 7px rgb(233, 238, 233);
  background-color: rgb(115, 155, 247);
  border: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 5vh;
  margin-top: 2vh;
  padding: 10px 15px;
}
.follow:hover {
  background-color: rgb(82, 124, 224);
}
.follow-icon {
  color: rgb(255, 255, 255);
}

.contributions {
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
  width: 100%;
}
.gain-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.total-gain {
  height: 15vh;
  width: 10vw;
  display: flex;
  border: 1px solid brown;
  padding: 1vh 1vh;
  background-color: #3E8DE3;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}
.total-gain img {
  width: 45px;
  height: 45px;
}
.gain-value {
  color: white;
  font-size: 34px;
}
.gain-desc {
  font-size: 15px;
}
.user-post-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.user-timeline {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 10vh;
}
.contributions-phone {
  display: none;
}

@media only screen and (max-width: 768px) {
  .profile-container {
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .profile-top-img-container img {
    width: 10vh;
    height: 10vh;
  }
  .user-timeline {
    display: block;
    margin-top: 6vh;
  }
  .profile-desc {
    padding-left: 1vh;
  }
  .follow-chat {
    width: 75%;
  }
  .follow {
    width: 24vw;
    height: 5vh;
    margin-right: 1vh;
  }
  .start-conversation-1 {
    height: 5vh;
  }
  .user-post-profile {
    width: 100%;
    margin-right: 0vw;
  }
  .user-timeline {
    padding-left: 0vw;
  }
  .total-gain {
    height: 12vh;
    width: 22vw;
  }
  .total-gain img {
    width:30px;
    height: 30px;
  }
  .gain-value {
    color: white;
    font-size: 26px;
  }
  .gain-desc {
    font-size: 12px;
  }
}
