*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.profile-container{
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 14vh;
}
.profile-top{
    display: flex;
}
 
.profile-top-img-container {
    display: flex;
    flex: 2;
    flex-direction: column; 
    align-items: center;
}
.profile-top-img-container img{
    width: 20vh;
    height: 20vh;
    padding: 0.2vh;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid gray;
}
.username{
   font-size: 17px;
   font-weight: 600;
   line-height: 20px;
}
.profile-desc{
    display: flex;
    flex: 7;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    line-height: 3px;
}
.fullname{
    font-size: 20px;
    font-weight: 800;
    line-height: 17px;
}
.institution-container{
    display: flex;
}
.institution-container img{
    height: 15px;
    width: 15px;
}
.institution{
  font-size: 14px;
  line-height: 17px;
}
.desc{
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
}
.user-resident{
    display: flex;
    line-height: 17px;
}
.user-resident img{
    height: 12px;
    width: 12px;
}
.residing-first{
   font-size: 12px;
   font-weight: 300;
}
.residing-second{
    font-size: 12px;
    font-weight: 300;
}

.followers-followings{
    display: flex;
}
.followers-followings p{
    line-height: 17px;
     font-size: 12px;
     margin-left: 1px;
     margin-right: 1px;
     color: rgb(54, 51, 51);
}
.follow-chat{
    display: flex;
    width:35%;
}

.start-conversation-1 {
    display: flex;
    margin-left: 1vh;
    flex: 3;
    justify-content: center;
    /* padding-top: 1vh; */
    height: 7vh;
    border: none;
    border-radius: 5vh;
    box-shadow: 0px 0px 10px 7px rgb(233, 238, 233);
    background-color: rgb(115, 155, 247);
 
}
.button-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.start-conversation-1 p{
    font-size: 16px;
    color: white;
    margin: 0;
    margin-right: 3px;
}
.start-conversation-1 img{
    width: 20px;
    height: 20px;
  }
.start-conversation-1:hover{
  cursor: pointer;
  background-color: rgb(82, 124, 224);
}

.follow{
    box-shadow: 0px 1px 3px rgb(86, 109, 86);
     color: white;
     box-shadow: 0px 0px 7px 7px rgb(233, 238, 233);
     background-color: rgb(115, 155, 247);
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5vh;
    padding: 10px 15px;
}
.follow:hover{
    background-color: rgb(82, 124, 224);
  }
.follow-icon{
    color:rgb(255, 255, 255); 
}

.contributions-pc{
    display: flex;
    margin-top: 2vh;
    background-color: rgb(245, 248, 250);
}
.gain-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid darkcyan;
    background-color: rgb(115, 155, 247);
    border-radius: 5px;
    height: 17vh;
    width: 12vw;
    box-shadow: 0px 0px 7px 7px rgb(233, 238, 233);
    margin-right: 1vh;
    box-sizing: border-box;
    margin-top: 2vh;
}
.gain-container img{
    height: 32px;
    width: 32px;
}
.total-gain{
    width: 50%;
    color: white;
    display: flex;
    padding-left: 2vh;
    padding-top: 2vh;
}
.gain-value{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.gain-desc{
    font-size: 13px;
    line-height: initial;
    font-weight: 300;
}

.user-post-profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.user-timeline{
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 3vh;
  padding-left: 4vw;
}
.contributions-phone{
    display: none;
}

@media only screen and (max-width: 768px) {
    .contributions-pc{
        display: none;
    }
    .contributions-phone{
        display: flex;
        margin-top: 2vh;
        background-color: rgb(245, 248, 250);
    }
    
    .gain-container{
        height: 12vh;
        width: 30vw;
    }
    .gain-container img{
        height: 42px;
        width: 42px;
    }
    .total-gain{
        padding-left: 1vh;
    }
    .gain-desc{
        line-height: 14px;
    }
    .profile-container{
        width: 100%;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 14vh;
    }
    .profile-top-img-container img{
        width: 10vh;
        height: 10vh;
    }
    .user-timeline{
    display: block;
    }
    .profile-desc {
    padding-left: 1vh;
    }
    .follow-chat{
        width: 75%;
    }
    .follow {
        width: 24vw;
        height: 5vh;
        margin-right: 1vh;
    }
    .start-conversation-1{
        height: 5vh;
    }
    .user-post-profile{   
      width: 100%;
      margin-right: 0vw;
    }
    .user-timeline{
      padding-left: 0vw;
    }
    
}
 