 
 *{margin: 0;padding:0px}

 .dot-container-post{
     display: flex;
     width: 48vw;
     position: relative;
     align-items: center;
     height: 9vh;
     padding-left: 26vw;  
    
 }
.dot-container-dot-icon{
    font-size: 35px;
    font-weight: 600;
    height: 3vh;
}
 .dot-container-item{
     display: none;
     flex-direction: column;
     list-style-type: none;
     background-color: white;
     border-radius: 10px;
     margin-bottom: 0;
     padding-left: 0;
     width: 20vw;
     align-items: center;
     height: 15vh;
     justify-content: center;
     margin-top: 10vh;
     box-shadow: 0px 1px 3px rgb(33, 37, 46); 
 }
 .dot-container{
    display: flex;
     position: absolute;
     right: 0;
 }
 .dot-container :hover{
    background-color: rgb(163, 189, 241);
    cursor: pointer;
    border: 1px solid black;
 }
 .dot-container-item-1,.dot-container-item-2{
    font-size: 18px;
    line-height: 7vh;

 }
 .dot-container-item-1 :hover{
    background-color: rgb(26, 65, 138);
    cursor: pointer;
 }
 @media only screen and (max-width: 650px) {
    .dot-container-post{
        display: flex;
        width: 30vw;
        position: relative;
        align-items: center;
        height: 9vh;
        padding-left: 4vw;   
    }
    
    .dot-container-item-1,.dot-container-item-2{
        font-size: 14px;
        line-height: 4vh;
     }
     .dot-container-item-1 :hover{
        background-color: rgb(26, 65, 138);
        font-size: 16px;
        cursor: pointer;
     }
     .dot-container{
        top: 7px;
        left: 7vh;
     }
     .dot-container-item {
        display: flex;
        position: absolute;
        flex-direction: column;
        list-style-type: none;
        background-color: white;
        border-radius: 10px;
        margin-bottom: 0;
        padding-left: 1px;
        width: 29vw;
        align-items: center;
        height: 12vh;
        justify-content: center;
        margin-top: 11vh;
    }
}