.leftmost-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid darkcyan;
    border-radius:20px;
    height: 75vh;
}
.menu-username{
    color: white;
    margin-top: 2vh;
}
.leftmost-topbar{
    display: flex;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    border-radius: 20px;
    padding-top: 2vh;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    background-color: rgb(116, 154, 242);
}
.leftmost-topbar Link img{
    height: 50px;
    width: 50px;
    border: 2px solid cornflowerblue;
    object-fit: cover;
    border-radius: 50%;
    margin-right: -3vw;
}
.leftmost-topbar Link p{
  font-size: 25px;
  font-weight: 600;
}

.setting{
    display: flex;
}
.leftmost-links{
    font-size: 17px;
    font-weight: 600;
    color: black;
}
.contact-text{
    display: flex;
    align-items: center;
}
.footer-container{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;
    margin-top: 5vh;
}
.contact-upper p{
    text-align: center;
}
.profile-update-menu{
    margin-left: 0;
}