.footer-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 84, 159);
    height: 32vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh; */
}
.about-footer{
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
}
.footer-bottom-container{
    
    padding-right: 2vw;
    display: flex;
    width: 71%;
    /* height: 6vh; */
    /* background-color: rgb(29, 64, 130); */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.crypto-logo{
    margin-right: 1vw;
    font-size: 35px;
    color: white;
}
.about-content-container{
    width: 40%;
}
.about-us-title{
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 1vh;
}
.about-content{
    font-size: 13px;
    font-weight: 300;
    color: rgb(187, 196, 196);
}
.copyright{
    color: rgb(255, 255, 255);
}
.footer-link{
    display: flex;
}
.footer-link-item{
    color: white;
    margin-left: 3vw;
    margin-left: 3vw;
}
.footer-link-item:hover{
    color: rgb(90, 147, 222);
}
@media (max-width:700px) {
    .footer-container{
        height: 36vh;
    }
    .about-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-content-container{
        text-align: center;
    }
    .footer-bottom-container{
        width: 100%;
        flex-direction:column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: -3vh;
    }
    .copyright{
        font-size: 14px;
        font-weight: 400;
        margin-top: 2vh;
    }
    .crypto-logo{
       width: 100%;
       margin-right: 0;
       margin-bottom: 2vh;
       text-align: center;
    }
    .about-content-container{
        width: 100%;
    }
    .footer-link{
        /* flex-direction: column; */
        width: 100%;
        justify-content: space-around;
        text-align: center;
    }
    .footer-link-item{
        margin-bottom: 1vh;
    }
}