*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-container{
    display: flex;
    padding-top: 12vh;
    flex-direction: row;
    height: 100vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to right, rgb(219, 221, 224), rgb(126, 126, 133));
}
.logo-login{
    display: flex;
    flex-direction: column;
     width: 30%;
    align-items: center;
    justify-content: center;
}
.logo-1-login{
    font-size: 45px;
     font-family: "Shizuru", cursive;
}
.login-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.login{
    font-size: 35px;
    font-weight: 500;
    color: rgb(168, 186, 221);
}

.login-form{
    display: flex;
     flex-direction: column;
     min-height: 26vh;
     width: 70%;
     padding: 2vh 2vw;
}
.input-login{
    height: 6vh;
    margin-bottom: 2vh;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 3px 2vw;
}
#login-submit:active{
    background-color: rgb(238, 236, 227);
    font-size: 20px;
}
.login-signup-query{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
}

@media only screen and (max-width: 768px) {
    .login-container{
        flex-direction: column;
        
    }
    .logo-login{
         width: 100%;
     }
     .login-form-container{
     
       width: 100%;
    }
    .login-form{
        
        width: 80%;
    }
    .logo-3-login{
        font-size: 12px;
    }
 }
