 .conversation-1{
     background-color: rgb(248, 250, 250);
 }
 .conversation-1-boxes{
    padding: 0vw 2vw;
    height: 81.5vh;
    overflow-y: scroll;
}
.conversation-1-title{
  font-size: 50px;
  font-weight: 700;
  color: gray;
  
}
.conversation-1-form{
    width: 100%;
    display: flex;
    box-shadow: 0px 0px 10px 7px rgb(233, 238, 233);
    padding: 1vh 2vh;
}
.conversation-1-input{
    width: 80%;
    height: 6vh;
    padding: 1vw 1vw;
    border-radius: 3px;
    border: 1px solid gray;
}
.conversation-1-submit{
    background-color: rgb(8, 92, 218);
    color: white;
    height: 6vh;
    margin-left: 1vw;
    width:20%;
    border-radius: 3px;
    border: 1px solid gray;
}