.chat-1{
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
}
.chat-1-search{
    display: flex;
    flex-direction: column;
    flex: 3.6;
    transition: 0.5s;
}
.chat-1-inbox{
    display: flex;
    flex-direction: column;
    flex: 6;
}
.chat-1-online{
    display: flex;
    flex-direction: column;
    flex: 3;
}
.past-conversation-button{
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    display: none;
    background-color: rgb(105, 147, 245);
    color: white;
}
@media only screen and (max-width: 768px) {
    .chat-1-online{
         display: none;
    }
    .chat-1-search{
         width: 100vw;
         height: 80vh;
        flex: 10;
        padding: 1vh 1vh;
        transition: 0.5s;
    }
    .messagebox-1-topbar-title{
        font-size: 19px;
    }
    .messagebox-1-topbar-form-input {
        height: 6vh;
        width: 78vw;
    }
    .messagebox-1-topbar{
        padding: 2vh 2vw;
    }
    .chat-1-inbox{
        flex: 1;
        display: none;
    }
    .past-conversation-button{
        display: flex;
    }
    .messagebox-1-topbar-form-input{
        width:94vw;
        padding: 1vw 9vw;
    }
    .conversation-1-boxes {
        height: 78vh;
    }
}