.home-container{
    padding: 20px 20px;
}
.main{
    display: flex;
}
.featured-authors-text{
    font-size: 25px;
    font-weight: 600;
}
.home-top{
    margin-bottom: 2vh;
}
.center-container{
 display: flex;
 flex-direction: column;
 flex: 5;
}
.left-container{
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-right: 3vh;
}
.right-container{
    display: flex;
    flex-direction: column;
    flex: 2.5;
    margin-left: 3vh;
}
@media only screen and (max-width: 768px) {
    .home-container{
        padding: 10px 10px;
    }
    .main{
        display: block;
    }
    .right-container{
        display: none;
    }
    .left-container{
        display: none;
    }
}
 
 