.sell-form-container{
    height:64vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 10;
    /* background-color: #c2cfe8; */
    background-color: rgb(115, 155, 247);
    position: fixed;
    margin-top: 3h;
    transform: all 1s ease .2s;
    box-shadow: 0px 1px 3px rgb(25, 37, 25);
}
.sell-form-cut-icon{
    height: 7%;
    margin: 1%;
    align-items: flex-end;
}
.sell-form-cut-icon :hover{
    cursor: pointer;
}
.sell-form{
    height: 84%;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    
    justify-content: center;
    align-items: center;
}
.sell-form input ,#pdf-file-upload {
    height: 7vh;
    margin: 2% 0;
    width: 80%;
    border-radius: 10px;
    border: 1px solid darkgray;
    padding: 1px 2vh;
     
}
 
#thumbnail-file-upload{
   display:flex;
   flex-direction: column;
   border: none;
   font-size: 16px;
    width: 82%;
    margin-top: -2vh;
}
 
.custom-file-upload{
   color: white;
   font-size: 18px;
   height: 10%;
    margin: 2% 0;
    width: 80%;
    line-height: 4vh;
    font-weight: 600;
}
.custom-file-upload:hover{
    cursor: pointer;
}
.sell-form-cut-icon {
    height: 3vh;
    margin: 1%;
    width: 3vh;
}
.sellform-submit-button{
    width: 83%;
    background-color: rgb(73, 122, 237);
    height: 7vh;
    border-radius: 13px;
    color: white;
    font-size: 21px;
    border: 1px solid gray;
    box-shadow: 0px 0px 10px 7px rgb(94, 147, 234);
}
@media only screen and (max-width: 768px) {
    .sell-form-container{
        height:51vh;
        width: 90vw;
    }
    #thumbnail-file-upload{ 
        font-size: 12px;
        width: 95%;
        margin-top: -1vh;
     }
     #pdf-file-upload{
         height: 5vh;
         font-size: 13px;
     }
     .custom-file-upload{
        font-size: 16px;
     }
     .sellform-submit-button{
           height: 5vh;
           font-size: 16px;
     }
     .sell-form input {
        height: 6vh;
        font-size: 13px;
     }
     .sell-form{
         height: 84%;
     }
}