*{
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}
.post-container{
    display: flex;
    height: 82vh; 
    width: 60%;
    flex-direction: column;
    margin-bottom: 8vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: relative;
}
.post-topbar{
    height: 13vh;
    padding: 1vh 1vh;
    display: flex;
   background-color:  #3E8DE3;
}
.post-topbar-img{
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    height: 60px;
}
.post-topbar-desc{
    display: flex;
    flex-direction: column;
}
.post-topbar-name{
    font-size: 18px;
    font-weight: 700;
    color: rgb(8, 43, 43);
}
.post-topbar-desc{
    margin-left: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.post-topbar-follow-ago-container{
    display: flex;
    justify-content: space-between;
}
.post-topbar-follow-ago-container p{
    font-size: 12px;
    font-weight: 300;
    line-height: 2px;
    color:black;
}
.post-topbar-edit-delete-container{
    display: flex;
    justify-content: space-around;
    width: 10vw;
    right: 0;
    height: 9vh;
    align-items: center;
    position:absolute;
    margin-top: 2vh;
}
 
.post-topbar-delete-icon:hover{
    cursor: pointer;
}
.delete-icon{
    cursor: pointer;
}
.main-post{
    display: flex;
}
.main-post-img-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
} 
.main-post-img-container img{
    width: 100%;
    height:57vh;
}
.main-post-about{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
}
.main-post-notename{
    font-size:23px;
    font-weight: 700;
}
.main-post-description{
    font-size: 19px;
    font-weight: 600;
    color: rgb(71, 66, 66);
    margin-bottom: -2px;
}
.main-post-desc{
    font-size: 14px;
    font-weight: 400;
    color: rgb(95, 88, 88);
}
.View-pdf-1{
    position: absolute;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color:  #3E8DE3;
   width: 110px;
   height: 8vh;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.View-pdf-1:hover{
  background-color: #3E8DE3;
  cursor: pointer;
}
.View-pdf-1 p{
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.View-pdf-1 img{
   height: 20px;
   border-radius: 0;
   width: 20px;  
   margin-bottom: 1vh;
   margin-left: 1vh;
}
.post-reaction-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
} 
.post-reaction{
    display: flex;
    background-color: rgb(200, 225, 253);
    border-radius: 35px;
    width: 10vw;
    height: 7vh;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.post-reaction p{
    margin-left: 5px;
}
 .post-container{
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .post-container{
        height: 56vh;
        padding-bottom:2vh;
        margin-bottom: 3vh;
        width: 100%;
    }
    .post-topbar-img{
        width: 42px;
        height: 42px;
    }
    .post-topbar-name{
        font-size: 15px;
        font-weight: 700;
        color: rgb(8, 43, 43);
    }
    .post-topbar-desc{
        margin-left: 1vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .post-topbar{
        height: 9vh;
    }
    .post-topbar-follow-ago-container p{
        font-size: 10px;
        line-height: 0px;
    }
 
     .post-topbar-delete-icon{
        height: 24px;
        width: 24px;
    }
    .post-topbar-edit-icon img{
        height: 24px;
        width: 24px;
    }
    .post-reaction img {
        height: 21px;
        width: 21px;
        /* margin-top: 1.5vh; */
    }
    .post-reaction p{
        font-size: 15px;
    }
    .post-reaction{
        width: 22vw;
        height: 5vh;
    }
    .post-reaction-seen-img{
        height: 28px;
        width: 28px;
    }
    .post-topbar-edit-delete-container {
       width: 25vw;
       margin-top: 0vh;
    }
    .main-post-img-container img{
        height:39vh;
        width: 100%;
    }
    .main-post{
        height: 40vh;
    }
    .main-post-notename{
        font-size:20px;
    }
    .main-post-description{
        font-size: 15px;
    }
    .main-post-desc{
        font-size: 11px;
    }
    .View-pdf-1{
        width: 105px;
   height: 7vh;
    }
    .View-pdf-1 img{
        height: 18px;
        width: 18px;  
     }
     .View-pdf-1 p{
        font-size: 14px;
      }
  }

