@media only screen and (max-width: 700px) {
    .post-reaction-container{
        margin-top: -2vh;
    }
    .post-container{
        height: 65vh;
    }
    .post-reaction{
        height: 6vh;
    }
}